<%- include("../conn/header.ejs") %>
<!-- Nav Bar Start -->
<%- include("../frontviewComm/navbar.ejs") %>
<!-- NavBar  End -->
<style>
  @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");


.img_blog {
max-width: 100%;
display: block;
object-fit: cover;
}

.blog_card {
display: flex;
flex-direction: column;
width: clamp(19rem, calc(19rem + 2vw), 19rem);
overflow: hidden;
box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
border-radius: 1em;
background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);
}
.blog_card1 {
display: flex;
flex-direction: column;

overflow: hidden;
box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
border-radius: 1em;
background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}


.blogcard_body {
padding: 1rem 0rem 0rem 0rem;
display: flex;
flex-direction: column;
gap: .5rem;
}


.blog_tag {
align-self: flex-start;
padding: .25em .75em;
border-radius: 1em;
font-size: .75rem;
}
.readmore{
border-radius: 0.5em;
font-size: .45rem;
}
.tag + .tag {
margin-left: .5em;
}


.tag-red {
background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
color: #fafafa;
}
.tag-blue {
background: #087df3;
color: #fafafa;
}
a{
text-decoration: none;
 outline:  none;
}

.blogcard_body h4 {
font-size: 1.5rem;
text-transform: capitalize;
}

.blog_footer {
display: flex;
padding: 0.3rem;
margin-top: auto;
}

.user_blog {
display: flex;
gap: .5rem;
}

.user__image_blog {
border-radius: 50%;
}

.user__info_blog > small {
color: #666;
}

#collectibles{
	width: 100%;
	display: flex;
	justify-content: center;
	align-content:center;
	flex-direction: column;
	text-align:  center;
	margin-bottom: 4rem;
}

.heading{
	margin: 1rem auto;
	text-align:  center;
}

.para {
	margin: 1rem auto;
}

.num {
    width: 70%;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.num-item {
    font-size: 1.5rem;
    line-height: 1.4rem;
    color: rgb(43, 126, 199);
}

#home{
	width: 100%;
	padding: 3rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.home-left{
	height:100%;
	position: relative;
}

.home-left img{
	height: 350px;
	width: 450px;
	border-radius: 10px;
}

.home-right{
	width: 50%;
}

.home-heading{
	font-size: 2rem;
	margin-bottom: 10px;
}

.home-para{
	margin-bottom: 20px;
}

#weather{
    width: 80%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.weather-left {
    width: 60%;
    line-height: 2rem;
}

.weather-left h2 {
    font-size: 2.4rem;
}

.weather-left p {
    line-height: 1.5rem;
    margin: 1rem 0;
}


.weather-right {
    position: relative;
    width: 35%;
}

.weather-right img {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
    filter: drop-shadow(3px 4px 5px black);
    transition: all 0.2s linear;
}

.weather-right img:hover {
    transform: translateY(-5px);
    filter: drop-shadow(5px 6px 7px black);
}

</style>
<!--The script for loading time and render time-->
<!-- // The time it takes to load the page is shown using the below function -->
<script>
  window.onload = function () {
    var loadTime =
      window.performance.timing.domContentLoadedEventEnd -
      window.performance.timing.navigationStart;
    console.log("Page load time is " + loadTime / 1000);
    // performanceDisplay = document.getElementById("performance-display"); // get a reference to the paragraph
    // performanceDisplay.innerText = "Page load time - " + loadTime / 1000; // put the value of the variable loadTime into the paragraph
  };
</script>
 <!-- The time it takes to render an image is shown using the below function. -->
<script>
  const observer = new PerformanceObserver((list) => {
    list.getEntries().forEach((entry) => {
      if (entry.identifier === "big-image") {
        console.log("The image render time is: " + entry.renderTime);
      }
    });
  });
  observer.observe({ type: "element", buffered: true });
</script>

<!-- slider start -->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <% if(mainpage.length>0 && mainpage){ %> <% for(var i=0;i<mainpage.length;i++){ %>
   <%  if(i===0){ %> 
      <div class="carousel-item active">
   <%  }else{ %> 
      <div class="carousel-item">
    <% } %> 
      <img
        src="/profile/<%= mainpage[i].carouselImage %> "
        class="d-block w-100"
        style="height: 500px"
        alt="..."
      />
    </div>
    <% }%> <% }else{ %>
    <div class="carousel-item active">
      <img
        src="https://sencanada.ca/media/368124/com_pho_gettyimages-954333926.jpg?&quality=95&width=1920"
        class="d-block w-100"
        style="height: 500px"
        alt="..."
      />
    </div>


    <div class="carousel-item">
      <img
        src="https://candbadvertising.com/wp-content/uploads/2019/01/TA-photo-6.jpg"
        class="d-block w-100"
        style="height: 500px"
        alt="..."
      />
    </div>

    <div class="carousel-item">
      <img
        src="https://thecanadaguide.com/wp-content/uploads/lakelouise-1600x1074.jpg"
        class="d-block w-100"
        style="height: 500px"
        alt="..."
      />
    </div>
    <% } %>
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleControls"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a 
  style="z-index: -1;"
    class="carousel-control-next"
    href="#carouselExampleControls"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!-- Slider End -->

<!-- Teranding Package Start  -->
<div class="container-fulid">
  <div class="album">
    <div class="container " style="max-width: 1400px;" >
      <h1 class="m-3">Trending Packages</h1>
      <div class="row">
        <% if(packages.length>0){ %>
        <% for(var i=0; i<packages.length; i++){ %>
        <!-- Blog Card Strat -->
        <div class="card blog_card m-3 p-3 ">
          <a  style="text-decoration:none;" href="/package/<%=packages[i].id %>">
          <div class="card__header blog_header">
          <img src="/profile/<%=packages[i].packageImage %>" alt="card_image" class="card_image img_blog" width="600">
          </div>
          <div class="card__body blogcard_body">
          <!-- <span class="blog_tag tag-red">Technology</span> -->
          <h6><%=packages[i].packageTitle %></h6>
          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi perferendis molestiae non nemo doloribus. Doloremque, nihil! At ea atque quidem!</p> -->
          </div>
           <!-- <div class="blog_tag tag-blue ">
           <a href="" class="text-white">Read mode &nbsp;&nbsp;<i class="fa fa-arrow-right"></i></a> 
           </div>               -->
      </div>
      </a>
       <!-- Blog Card End -->
        <% } %>
        <% } %>
      </div>
     
      <section id="home">
        <div class="home-left">
          <img src="/img/home.jpeg" alt="" width="1500" height="2000">
        </div>
        <div class="home-right">
            <h2 class="home-heading"> About Us </h2>
            <p class="home-para"> Welcome to our tourism website! We are a team of passionate travel enthusiasts who love to explore and share our experiences with others. Our goal is to provide you with the best travel information and inspiration to help you plan your next adventure. Whether you're looking for a relaxing beach getaway, an adventurous trek through the mountains, or a cultural immersion in a new city, we've got you covered. Let us be your guide to the world of travel! We're delighted to have you here and excited to share more about our company.

              At WanderLust, we're passionate about travel and creating unforgettable experiences for our customers. Our mission is to connect travelers with their dream destinations and help them make the most out of their trips.
              
              We understand that travel is personal, and that's why we offer customized travel solutions tailored to your unique preferences and interests. Whether you're looking for a relaxing beach vacation, an adventurous hike through the mountains, or a cultural immersion in a new city, we've got you covered.
              
              Our team is made up of experienced travel experts who are committed to providing excellent service and guidance throughout your journey. We work with trusted partners and suppliers to ensure that you have access to the best deals, accommodations, and activities.
              
              As a socially responsible company, we also strive to make a positive impact on the communities and environments we visit. We promote sustainable travel practices and support local initiatives that benefit the destinations we serve.
              
              We hope that you'll find our website informative and inspiring, and we look forward to helping you plan your next adventure. If you have any questions or feedback, please don't hesitate to contact us. Thank you for choosing WanderLust!
              </p>
        </div>
    </section>

     <section id="collectibles">
        <h2 class= "heading">Antiques and Collectibles</h2>
        <p>
            
            It's always a good idea to call ahead to confirm hours of operation and inventory before visiting any of these stores.
        </p>
        <div class="num">
            <a class="num-item" href="https://www.empireammolite.com/"> Empire Ammolite </a>
            <a class="num-item" href="https://www.gpsmycity.com/attractions/wonderland-sculpture-50846.html"> Wonderland Sculpture </a>
            <a class="num-item" href="https://badlandsamp.com/" > The Canadian Badlands </a>
        </div>
    </section>

    <section id="weather">
        <div class="weather-left">
            <h2> Climatic Conditions</h2>
            <p>
                Alberta has a humid continental climate with long, cold winters and short, warm summers. Temperatures can vary widely throughout the year, with average temperatures ranging from -10째C (14째F) in January to 17째C (63째F) in July. The province receives a moderate amount of precipitation, with the majority falling during the summer months. Alberta is also known for its frequent chinook winds, which can cause sudden, dramatic temperature increases during the winter months. Additionally, the province experiences occasional severe weather events such as thunderstorms, tornadoes, and blizzards.
            </p>
            </div>
            <div class="weather-right">
            <ul>
                <a class="weatherwidget-io" href="https://forecast7.com/en/53d93n116d58/alberta/" data-label_1="ALBERTA" data-label_2="WEATHER" data-font="Times New Roman" data-icons="Climacons Animated" data-theme="mountains" >ALBERTA WEATHER</a>
  
            </ul>
        </div>
  
        <div class="weather-right">
  
        </div>
  
    </section>
        <p id="performance-display"></p>
    </div>
  </div>
</div>
<!-- Treanding  Package End -->
<!-- Footer Start -->
<%- include("../frontviewComm/footer.ejs") %>
<script>
!function(d,s,id){
  var js,fjs=d.getElementsByTagName(s)[0];
  if(!d.getElementById(id)){js=d.createElement(s);
      js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';
fjs.parentNode.insertBefore(js,fjs);}
}
(document,'script','weatherwidget-io-js');
</script>
<!-- Footer End -->
<%- include("../conn/footer.ejs") %>
